<a href="https://colab.research.google.com/github/MacherlaDivya/DATA-MINING/blob/main/Lab04_(ADM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/titanic.csv')

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
le=LabelEncoder()

In [5]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [6]:
df['Gender']=le.fit_transform(df['Sex'])

In [7]:
df['Gender']

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Gender, Length: 891, dtype: int64

In [8]:
one_hot_encoded = pd.get_dummies(df['Sex'], prefix='Sex')

In [9]:
one_hot_encoded=one_hot_encoded.astype(int)

In [10]:
one_hot_encoded

     Sex_female  Sex_male
0             0         1
1             1         0
2             1         0
3             1         0
4             0         1
..          ...       ...
886           0         1
887           1         0
888           1         0
889           0         1
890           0         1

[891 rows x 2 columns]

In [11]:
emp = pd.read_csv('/content/EMP_SAL.csv')

In [12]:
emp

           DOB  BASIC_PAY    HRA     DA    TAX
0   07-03-2004      75000  12500   5200   4500
1   10-03-2002      79500  13200   5600   5000
2   12-03-2000      84000  13900   6000   5500
3   15-03-1998      88500  14600   6400   6000
4   17-03-1996      93000  15300   6800   6500
5   20-03-1994      97500  16000   7200   7000
6   22-03-1992     102000  16700   7600   7500
7   25-03-1990     106500  17400   8000   8000
8   27-03-1988     111000  18100   8400   8500
9   30-03-1986     115500  18800   8800   9000
10  01-04-1984     120000  19500   9200   9500
11  04-04-1982     124500  20200   9600  10000
12  06-04-1980     129000  20900  10000  10500
13  09-04-1978     133500  21600  10400  11000

In [13]:
emp['Salary']=emp['BASIC_PAY']+emp['HRA']+emp['DA']+emp['TAX']

In [15]:
emp['Salary']

0      97200
1     103300
2     109400
3     115500
4     121600
5     127700
6     133800
7     139900
8     146000
9     152100
10    158200
11    164300
12    170400
13    176500
Name: Salary, dtype: int64

In [17]:
from datetime import datetime

In [19]:
emp['DOB']=pd.to_datetime(emp['DOB'],format ='%d-%m-%Y')

In [20]:
emp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DOB        14 non-null     datetime64[ns]
 1   BASIC_PAY  14 non-null     int64
 2   HRA        14 non-null     int64
 3   DA         14 non-null     int64
 4   TAX        14 non-null     int64
 5   Salary     14 non-null     int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 804.0 bytes