<a href="https://colab.research.google.com/github/MacherlaDivya/DATA-MINING/blob/main/Lab04_ADM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

ENCODING

In [3]:
col_data ={'color' : ['Red', 'Green', 'Blue','Yellow', 'Black', 'White']}
df_col = pd.DataFrame(col_data)

Perform One Hot Encoding

In [4]:
one_hot_encoded = pd.get_dummies(df_col['color'],prefix='color')

In [5]:
one_hot_encoded = one_hot_encoded.astype(int)

In [6]:
print(one_hot_encoded)

   color_Black  color_Blue  color_Green  color_Red  color_White  color_Yellow
0            0           0            0          1            0             0
1            0           0            1          0            0             0
2            0           1            0          0            0             0
3            0           0            0          0            0             1
4            1           0            0          0            0             0
5            0           0            0          0            1             0

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
label_encoder = LabelEncoder()

In [9]:
df_col['Color_Label'] = label_encoder.fit_transform(df_col['color'])

In [10]:
df_col['Color_Label']

0    3
1    2
2    1
3    5
4    0
5    4
Name: Color_Label, dtype: int64